# Prisma / Postgres
DATABASE_URL=postgres://user:password@host:5432/dbname?sslmode=require

# Password Gate
ADMIN_PASSWORD=change-admin-password
USER_PASSWORD=change-user-password

# For local SQLite (use with scripts :sqlite)
# DATABASE_URL=file:/absolute/path/to/prisma/dev.db

# For local MySQL (use with scripts :mysql)
# DATABASE_URL=mysql://test:qwer1234@172.17.241.89:3306/test
