# Prisma / Postgres
DATABASE_URL=postgres://user:password@host:5432/dbname?sslmode=require

# Password Gate
ADMIN_PASSWORD=change-admin-password
USER_PASSWORD=change-user-password

# Web Push VAPID
VAPID_PUBLIC_KEY=BMNhBQSpkpuIGq-JmLqCfq3Yo84DsueAMvhpzC3aLMGZYDPt-Stxaq6Oy-_5PNLAGt3XJA5Vv5ArFvNfes0QKe4
VAPID_PRIVATE_KEY=he5YdSmcdSV2AtH7HIPiKl8CAxpj4F4kYMQQdNAThXU
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BMNhBQSpkpuIGq-JmLqCfq3Yo84DsueAMvhpzC3aLMGZYDPt-Stxaq6Oy-_5PNLAGt3XJA5Vv5ArFvNfes0QKe4


# For local SQLite (use with scripts :sqlite)
# DATABASE_URL=file:/absolute/path/to/prisma/dev.db

# For local MySQL (use with scripts :mysql)
# DATABASE_URL=mysql://test:qwer1234@172.17.241.89:3306/test
